<div class="container">

    <button *ngIf="auth.canCreateEvent(user)" class="create-button" routerLink="/new-event">
        <i class="fa fa-plus"></i> Create a New Event
    </button>

    <div *ngFor="let event of events" class="card">
        <div class="carousel">
            
            <img [src]="event.photoUrls[0]" alt="">
            <!-- <img *ngFor="let url of event.photoUrls" [src]="url" alt=""> -->
            
            <div class="title">
                <img [src]="event.avatarUrl" alt="">

                <span>
                    <div><a>{{event.createdBy}}</a> - {{event.eventName}}</div>
                    <div><span>{{event.date}}</span> La <span>{{event.location}}</span></div>
                </span>
            </div>
        </div>

        <hr>

        <div class="description">
            {{event.description}}
            
        </div>
    </div>

</div>