.top-nav {
    background-color: var(--top-backgroud-color);
    height: var(--top-nav-height);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    z-index: 10;
    position: fixed;
    top: 0;

    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;

    nav {
        margin-left: 20px;
        width: 100%;

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style-position: inside;
            padding: 0;
            margin: 0;
            
            li {
                list-style-type: none;
                cursor: pointer;
                margin: 0 10px;

                a {
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: #fff;  
                    text-transform: uppercase;
                    text-decoration: none;

                    &.active {
                        color: #000;
                    }
                }
            }
        }
    }

    .settings {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        position: relative;
        font-size: 1.6rem;
        font-weight: 400;
        color: #fff;  
        text-transform: uppercase;

        ul {
            position: absolute;
            top: var(--top-nav-height);
            background-color: #f9f9f9;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;

            display: flex;
            flex-direction: column;
            list-style-position: inside;
            padding: 0;
            margin: 0;

            li {
                list-style-type: none;
                cursor: pointer;
                padding: 10px;
                color: #000; 
                font-size: 1rem;
                font-weight: 300; 
                text-transform: initial;

                &:hover {
                    background-color: rgb(228, 228, 228);
                }
            }
        }
    }
}