<div class="top-nav">
    <img src="../../../assets/logo.png" alt="">
    <nav *ngIf="user">
        <ul>
            <li><a routerLink="/feed" routerLinkActive="active">Feed</a></li>
            <li><a routerLink="/calendar" routerLinkActive="active">Calendar</a></li>
            <li><a routerLink="/map" routerLinkActive="active">Map</a></li>
        </ul>
    </nav>

    <span *ngIf="user" class="settings" (mouseenter)="openSettings = true" (mouseleave)="openSettings = false">
        User Settings
        <ul *ngIf="openSettings" class="dowpdown">
            <li (click)="togleTheme()">
                Switch to {{ theme == "light" ? "dark" : "light" }} mode;
            </li>
            <li (click)="auth.logout()">
                Logout
            </li>
        </ul>
    </span>
</div>