<div *ngIf="user" class="container">
    <div class="card">
        <div class="row separator">
            <div class="col-4 profile-picture">
                <file-uploader *ngIf="!user.photoURL" [singleFile]="true" dropzoneText="Profile Picture" (filesUrls)="onUpload($event)">
                </file-uploader>
                <img *ngIf="user.photoURL"  [src]="user.photoURL" alt="">
            </div>
            <div class="col-8">
                <h1>Hello {{user.displayName}}</h1>
                <hr>
                <h3>Part of {{user.association}}</h3>
                <hr>
                <p>UID: {{user.uid}}</p>
                <hr>
                <button (click)="auth.logout()">
                    <i class="fa fa-goolge"></i> logout
                </button>
            </div>
        </div>
    </div>
</div>
